{% extends "vocal.html" %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Projects</h1>
        <a class="btn btn-primary" href="/projects/add">Add project</a>
    </div>

    {% for project_name, project in projects.items() %}
    <div class="card">
        <h2>{{ project_name }}</h2>
        <div class="card-meta">
            <span>
                <span class="label">Version</span>
                <span class="code">{{ project.name }}-{{ project.major }}.{{ project.minor }}</span>
            </span>
            <span>
                <span class="label">Local path</span>
                <span class="code">{{ project.local_path }}</span>
            </span>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
